$formtext :grey;
$bordercol: red;


body{
  background-color: #801139;
  /*  background-color: rgba(43, 50, 44, 0.2);
  */
}

//signup button
#btn-s {
  margin: auto;
  display: block;
  height: 50px;
  width: 100px;
  color: white;
border-style: none;
  background-color: greenyellow;
  &:hover{
    background-color: dimgrey;
  }
}

//the form container
.container-s{

 margin: 20px auto;
  height:percentage(80/100) ;
  width:percentage(50/100);
 border-radius: 20px;
  background-color: white;
  overflow: hidden;

}

img
{
  max-width: 100%;
}

#getst{
  color: #000;
  font-size: xx-large;
  font-family:"Courier New";
}

//input tags
input {
  background-color: white;
  height: 50px;
  width: 250px;
  //margin: 10px;
  color: $formtext;
  border-style: none none solid none;
  border-bottom-color: $bordercol ;
  position: relative;
  display: block;
}
label{
  display: inline-block;
  padding-top: 1.5em;
}

//to remove the blue highlight
input:focus{outline: none;}
.btn{
  color: white;
  background-color: #503580;
  border: none;
  cursor: pointer;

}

form{

  padding-top: 20px;
  padding-left: 20px;
  color:$formtext;
}

