body {
  background-color: #801139;
  /*  background-color: rgba(43, 50, 44, 0.2);
  */ }

#btn-s {
  margin: auto;
  display: block;
  height: 50px;
  width: 100px;
  color: white;
  border-style: none;
  background-color: greenyellow; }
  #btn-s:hover {
    background-color: dimgrey; }

.container-s {
  margin: 20px auto;
  height: 80%;
  width: 50%;
  border-radius: 20px;
  background-color: white; }

img {
  border-radius: 20px; }

#getst {
  color: #000;
  font-size: xx-large;
  font-family: "Courier New"; }

input {
  background-color: white;
  height: 50px;
  width: 250px;
  color: grey;
  border-style: none none solid none;
  border-bottom-color: red;
  position: relative;
  display: block; }

label {
  display: inline-block;
  padding-top: 1.5em; }

input:focus {
  outline: none; }

.btn {
  color: white;
  background-color: #503580;
  border: none;
  cursor: pointer; }

form {
  padding-top: 20px;
  padding-left: 20px;
  color: grey; }
